/*Body*/

    .body-text {
        font-size: 20px;
        margin-left: 2.5%
    }

    /*Body Contents*/

        .body-contents-card {
            margin: 5%;

            display: flex;
            gap: 5%;
        }