* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: black;
}

:root {
    view-transition-name: root;
}

/*Navigation Bar*/
    .header {
        width: 100%;
        box-sizing: border-box;
        overflow-x: hidden;
        position: fixed;
    }
    
    .navbar {
        width: 100%;
        box-sizing: border-box;
    }
    
    .navbar-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2.5%;
        width: 100%;
        box-sizing: border-box;
        margin-top: 1%;
        margin-bottom: 1%;
    }
    
    .navbar-title-button {
        color: black;
        font-size: 30px;
        text-decoration: none;
    }
    
    .navbar-top-options-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        gap: 20px;

        max-width: 100%;
        box-sizing: border-box;
    }

    .nav-link {
        font-size: 18px;
    }
    
    .navbar-menu-button {
        margin-left: auto;
        background: none;
        border: none;
        cursor: pointer;
    }
    
    .navbar-menu-button-image {
        width: 25px;
        height: auto;
    }

    .navbar-search-bar {
        margin-left: 2.5%;
        margin-top: 1%;
    }

/*Body*/

    body {
        margin: 0;
        padding: 0;

        display: flex;
        flex-direction: column;
    }

    .body-title {
        width: 100%;
        margin: 0;
        padding: 30px 20px;
        text-align: center;
        font-size: 75px;
        box-sizing: border-box;
    }

    .body-text {
        padding: 40px 20px;
        font-size: 16px;
        line-height: 1.6;
        height: 100%;
    }

    .footer {
        width: 100%;
        box-sizing: border-box;
        overflow-x: hidden;
    }

    .footer-options-list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        max-width: 100%;
        box-sizing: border-box;

        margin: 2%;
    }